html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#waves {
    width: 100%;
    height: 100vh; /* Ocupar toda la altura de la pantalla */
    position: relative;
}

.content {
    position: absolute;
    top: 25%;   /* Ajustar la posición superior del contenido */
    left: 11%;  /* Ajustar la posición izquierda */
    z-index: 10; /* Asegúrate de que el contenido esté por encima del canvas */
}

.content h2 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 61px;
    margin-bottom: 5px;
    color: #fff; /* Texto blanco */
}

.content p {
    margin: 0;
    font-size: 20px;
    color: #fff;
    text-align: left;
    line-height: 1.5;    
    max-width: 500px;
    margin:  10px;    
}
